/.web-server-pid
/app/config/parameters.yml
/app/config/parameters_prod.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!/vendor/
/vendor/*
!/vendor/kms
/web/bundles/
/*.sql
/info.php
/*.xlsx
/*.csv
/*.html
/composer.json
/.idea