<table class="table table-bordered">
    <tbody>
    <tr class="table-active">
        <th>
            {% set relationString = "" %}
            {% set fromLocations = [] %}
            {% for fromLocation in relation.fromLocations %}
                {% set fromLocations = fromLocations|merge([fromLocation.code]) %}
            {% endfor %}
            {{ fromLocations|join(' / ') }}
        </th>
    </tr>
    {% for destination in relation.destinations %}
        <tr>
            <td>{{ destination.code }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>