{% extends 'base.html.twig' %}
{% block body %}
            <div class="form-row">
                <label for="codeUrl" class="form-control-label">Wygenerowany link</label>
                <input id="codeUrl" value="https://ankieta.lforce.pl/{{ code }}" class="form-control border-0 bg-white" onclick="this.select()" readonly/>
            </div>
{% endblock %}
