{% extends 'carrier/customer/base.html.twig' %}
{% block body %}
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <h1 class="display-3">Dziękujemy!</h1>
            </div>
        </div>
        <div class="text-success">Rejestracja zakończona pomyślnie.</div><br />
        <hr>

    </div>
{% endblock %}
